:root {
    --primary-color: #4169e1;
    --text-color: #333333;
    --text-light-color: #ffffff;
    --background-color: #f4f4f9;
    --header-background: #4169e1;
    --sidebar-background: #e0ecff;
    --footer-background: #4169e1;
    --navbar-background: #4169e1;
    --navbar-text-color: #ffffff;
    --sidebar-text-color: #ffffff;
    --sidebar-background-color: #ffffff;
    --sidebar-link-color: #fcffff;
    --sidebar-link-hover-color: #ffffff;
    --main-heading-color: #333333;
    --main-paragraph-color: #555555;
    --footer-text-color: #ffffff;
    --footer-link-color: #a8b0c1;
    --footer-link-hover-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Import the Montserrat Variable Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Use cases for the imported fonts */
.italic-text {
  font-style: italic;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-size: 16px; */
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}



