@import url('base.css');
@import url('typography.css');

/* .header-area{
  position: fixed;
  width: 100vw;
} */
header{
  height: 40px;
  overflow: hidden;
  background-color: var(--header-background);
  color: var(--text-light-color);
  text-align: center;
  padding-inline: 30px;
}

.sidebar-area{
  flex: 15%;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text-color);
  box-shadow: inset 0 0 2px #9f9f9f;
  padding: 1em;
  max-width: 20vw;
  width: 20vw;
}

aside{
  max-width: 12.8vw;
  width: 12.8vw;
  position: fixed;
  top: 56px;
  overflow: hidden auto;
  height: 85vh;
}

.content-area{
  display: flex;
  min-height: calc(100vh - 80px);
}

main{
  flex: 85%;
  padding: 1em;
  padding-top: 50px;
}

nav {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: var(--navbar-text-color);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul li {
  display: block;
  margin-bottom: 0.5em;
  text-align: left;
  margin-right: 0;
  padding: 0.5em;
  border-radius: 17px 0px;
  padding-inline-start: 15px;
}
aside nav ul li:hover,
aside nav ul li.active
{
  background: white;
}
aside nav ul li:hover a,
aside nav ul li.active a
{
  color: var(--navbar-background);
  text-decoration: none;
}
aside nav ul li a {
  color: var(--sidebar-link-color);
  text-decoration: none;
}

main h1, main h2, main h3 {
  color: var(--main-heading-color);
}

main p {
  color: var(--main-paragraph-color);
}

footer{
  height: 40px;
  overflow: hidden;
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  padding: 1em;
  text-align: center;
  z-index: 1;
  position: relative;
}

footer a:hover {
  color: var(--footer-link-hover-color);
}


p, h1, h2, h3, h4, h5, h6{
  margin-bottom: 1rem;
}

